@{
    ViewBag.Title = "Assign ASC";
}
<style>
    .card-header {
        padding: 0 !important;
    }
</style>
<div class="d-flex justify-content-between">
    <div class="">
        <i class="fa fa-home"></i><a href="/staff/home"> Home </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/svc"> SVC </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/crm"> CRM </a>
        <i class="fa fa-long-arrow-right"></i><a href="/staff/ServiceLog"> Simple Service Logs (Branch) </a>
        <i class="fa fa-long-arrow-right"></i><a href="#"> Assign ASC </a>
    </div>
</div>
<div id="accordion" style="padding-top:5px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Report details
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>TP167-280521-004</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Reference code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>1118330174</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Status :</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-warning">Pending ASC</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Created By :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Nguyễn Văn Đông</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Created On :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>09/06/2021</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Received By :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Nguyễn Văn Đông</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Issue :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>H402 - Lỗi chức năng vi sóng</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Description 1 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Mở hoài không nóng...</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Description 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>khách báo lò không nóng ,kỹ thuật kiểm tra...</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Product Details
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Product :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>R-208VN-WS - MWO</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Srial No :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>2019120783</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Purchase Date :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>12/04/2020</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Model Code :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>0000011</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Warranty :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>In Warranty</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Customer Details
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Customer Name :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>Hoàng Lý Thông</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Telephone 1</label>
                    </div>
                    <div class="col-sm-2">
                        <span>0888869333</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Telephone 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>0974503199</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Address 1 :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>141 Hoàng Quốc Việt, Cầu Giấy, HN</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Address 2 :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>P.Đức Thắng, Đông Ngạc, Bắc Từ Liêm, HN</span>
                    </div>
                    <div class="col-sm-2">
                        <label>State :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Hà Nội</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Techician Details
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>ASC :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>SVN - Công ty điện tử Sharp</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Technician</label>
                    </div>
                    <div class="col-sm-2">
                        <span>Nguyễn Trường Sinh</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Description :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Lò vi sóng bị ẩm ướt</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Status Reason : </label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                    <div class="col-sm-2">
                        <label>Transportation Charges</label>
                    </div>
                    <div class="col-sm-2">
                        <span>12.00 KM - 120,000.00VNĐ</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Labour Cost : </label>
                    </div>
                    <div class="col-sm-2">
                        <span>500,000.00VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="techUpdate" style="display:none">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                    Techician Update
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse show">
            <form name="update">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>ASC : </label> <label style="font-weight:bold">SVN - Công ty điện tử Sharp</label>
                        </div>
                        <div class="col-sm-12">
                            <label>Type Of Inquiry :</label>
                            <select class="form-control form-control-sm">
                                <option>Operations Inquiry</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Desction 1: </label>
                            <select class="form-control form-control-sm">
                                <option>TV Set</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Desction 2: </label>
                            <select class="form-control form-control-sm">
                                <option>No sound</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Labour Cost : </label>
                            <select disabled class="form-control form-control-sm">
                                <option>0</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Attachment : </label>
                            <input type="file" class="w-100 form-control-file" />
                            <small class="text-info">(File must be type of images and less than 5Mb)</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>Last Updated : </label> <label style="font-weight:bold"></label>
                        </div>
                        <div class="col-sm-12">
                            <label>Transaction Status :</label>
                            <select class="form-control form-control-sm">
                                <option>ASC Assigned</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Status Reason : </label>
                            <select class="form-control form-control-sm">
                                <option>Select Reason</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Mileage (Km) : </label>
                            <input type="text" disabled value="0" class="form-control form-control-sm " />
                        </div>
                        <div class="col-sm-12">
                            <label>Transportation Charges (VNĐ) : </label>
                            <label class=" form-control form-control-sm font-weight-bold">0.00</label>
                        </div>
                    </div>
                    <div class="w-100" style="padding-top:10px !important">
                        <div class="col-sm-12">
                            <input type="checkbox" />
                            <label> To remain in same screen after saved</label>
                            <a name="btn-tech-save" class="btn btn-sm btn-primary"><i class="fa fa-save"> Save</i></a>
                            <a name="btn-tech-cancel" class="btn btn-sm btn-danger"><i class="fa fa-close"> Back</i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="headingFive">
                    Service Details
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Request Date :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>12/04/2020 14:45</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Action By Service :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>Request to Call</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Appointment date :</label>
                    </div>
                    <div class="col-sm-2">
                        <label>15/04/2020 08:00</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Branch : </label>
                    </div>
                    <div class="col-sm-2">
                        <span>SEMKU</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Last Updated : </label>
                    </div>
                    <div class="col-sm-2">
                        <span>15/04/2020 10:08 By Nguyễn Trường Sinh</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Case Note (Follow Up Update) : </label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="canceljobContainer" style="display:none">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="headingFive">
                    Cancellation
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse show">
            <div class="card-body">
                <div class="col-sm-12">
                    <label>Cancel Reason : </label>
                    <select class="form-control form-control-sm">
                        <option>Select Reason</option>
                    </select>
                </div>
            </div>

            <div class="w-100" style="padding-top:10px !important">
                <div class="col-sm-12">
                    <input type="checkbox" />
                    <label> To remain in same screen after saved</label>
                    <a name="btn-tech-savecancel" class="btn btn-sm btn-primary"><i class="fa fa-save"> Save</i></a>
                    <a name="btn-tech-back-cancel" class="btn btn-sm btn-danger"><i class="fa fa-close"> Back</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="headingSix">
                    Other Details
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>QA Checked By :</label>
                    </div>
                    <div class="col-sm-2">
                        <span>Lý Thanh Nhàn</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Happy Call By</label>
                    </div>
                    <div class="col-sm-2">
                        <span>Tạ Thị Hoa</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Completed By :</label>
                    </div>
                    <div class="col-sm-2">
                        <label></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Canceled By : </label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                    <div class="col-sm-2">
                        <label>Close By : </label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                    <div class="col-sm-2">
                        <label>Cancelled Reason : </label>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 " style="padding-top:10px !important;">
        <div id="btnUpdate" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Update Status</div>
        <div class="btn btn-sm btn-light"><i class="fa fa-motorcycle"></i> Goods Delivery</div>
        <div class="btn btn-sm btn-info" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-print"></i> Print Order</div>
        <div id="btnCancelJob" class="btn btn-sm btn-dark"><i class="fa fa-edit"></i> Cancel Case</div>
        <a class="btn btn-sm btn-danger" href="/staff/ServiceLog"><i class="fa fa-close"></i> Back</a>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="~/Resources/images/order.png" />
        </div>
    </div>
</div>
<script>
    $(document).off("click", "#btnUpdate").on("click", "#btnUpdate", () => {
        $("#techUpdate").show();
    });
    $(document).off("click", "#btnCancelJob").on("click", "#btnCancelJob", () => {
        $("#canceljobContainer").show();
    });

    $(document).off("click", `a[name="btn-tech-save"]`).on("click", `a[name="btn-tech-save"]`, () => {
        toastr.success("Case Update", "Successfully Updated",);
        $("#techUpdate").hide();
    });
    $(document).off("click", `a[name="btn-tech-cancel"]`).on("click", `a[name="btn-tech-cancel"]`, () => {
        $("#techUpdate").hide();
    });

    $(document).off("click", `a[name="btn-tech-savecancel"]`).on("click", `a[name="btn-tech-savecancel"]`, () => {
        if (window.confirm("do you sure cancel this job?")) {
            toastr.success("Case Update", "Successfully Cancelled",);
            $("#canceljobContainer").hide();
        }
    });
    $(document).off("click", `a[name="btn-tech-back-cancel"]`).on("click", `a[name="btn-tech-back-cancel"]`, () => {
        $("#canceljobContainer").hide();
    });

</script>
