
@{
    ViewBag.Title = "Index";
}
<style>
    .folder{
        position:relative;
        height:50px;
        width:100px;
        background-color:gray;
    }
</style>
<div class="row">
    <a href="/Staff/Index">Home</a>
    <div class="fa fa-arrow-right"></div><a href="/Staff/SVC">SVC</a>
    <div class="fa fa-arrow-right"></div><a href="/Staff/CRM">CRM</a>
    <div class="fa fa-arrow-right"></div><a href="/Staff/ServiceLog">Simple Service Logs(Branch)</a>
</div>
<div class="row" >
    <form name="filterFunction">
        form filter
    </form>
</div>
<div class="row" name="ketQuaTimKiem">
    <table class="table table-hover">
        <tr>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
        </tr>
        <tr>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
        </tr>
        <tr>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
        </tr>
        <tr>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
            <td>col1</td>
        </tr>
    </table>
</div>

