
@{
    ViewBag.Title = "Index";
}
<style>
    .folder{
        position:relative;
        height:50px;
        width:100px;
        background-color:gray;
    }
</style>
<div class="row">
    <a href="#">Home</a>
    <div class="fa fa-arrow-right">SVC</div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
</div>

