
@{
    ViewBag.Title = "SVC";
}

<div class="col-lg-12 dnv-nav">
    <i class="fa fa-long-arrow-right"></i>
    <a href="/staff/home">Home</a>
    <i class="fa fa-long-arrow-right"></i>
    <a href="/staff/svc">SVC</a>
</div>


<div class="row">
    <div class="col-sm-4">
        <a class="folder" href="/staff/crm">
            <input type="button" class="folder folder-icon btn-light btn" value="CRM" />
        </a>
    </div>
    <div class="col-sm-4">
        <a class="folder" href="#">
            <input type="button" class="folder folder-icon btn-light btn" value="E-Comerce (eSharp)" />
        </a>
    </div>
</div>

