@model IVG.Web.Mvc.Models.ChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<form name="ChangePassword" action="/User/ChangePassword" method="post">
    <div class="container">
        <div class="text-danger">@Html.ValidationSummary(false, "")</div>
        <div class="col-sm-12">
            <label>Mật khẩu hiện tại</label>
            <input type="password" name="CurrentPassword" class="form-control-sm form-control" autofocus value="@Model.CurrentPassword" />
        </div>
        <div class="col-sm-12">
            <label>Mật khẩu mới</label>
            <input type="password" name="newPassword" class="form-control-sm form-control" value="@Model.NewPassword" />
        </div>
        <div class="col-sm-12">
            <label>Xác nhận mật khẩu mới</label>
            <input type="password" name="confirmNewPassword" class="form-control-sm form-control" value="@Model.ConfirmNewPassword" />
        </div>
        <div class="col-sm-12">
            <button type="submit" class="fa fa-save btn btn-primary"> Lưu</button>
        </div>
    </div>
</form>

