@using IVG.Web.Mvc.Models;
@model ForgotPassword
@{
    ViewBag.Title = "Forgot Password";
}
<h1 class="text-info"></h1>
<form name="forgotPassword" action="~/User/ForgotPassword" method="post">
    <div class="row">
        <h4 class="container text-dark"><i class="fa fa-arrow-right"></i> Forgot Password</h4>
    </div>
    <div class="col-sm-12">
        <div class="text-danger"> @ViewBag.Errors</div>
        <div class="text-primary"> @ViewBag.Info</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <label>Email</label>
                <input type="email" name="Email" placeholder="Enter your email" value="@Model.Email" class="form-control form-control-sm" />
            </div>
            <div class="col-sm-12">
                <label>Security code (as show in ther image)</label>
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/User/GetCaptChaImage" />
                </div>
            </div>
            <div class="col-sm-12">
                <input type="text" class="form-control form-control-sm" name="CaptCha" value="@Model.Captcha" autocomplete="off" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
            </div>
            <div class="col-sm-12" style="padding-top:10px;">
                <input type="submit" value="Resend-Password" class="btn btn-sm btn-primary w-100" />
            </div>
            <div class="col-sm-12" style="padding-top:10px;">
                <a href="/user/login">Back to login</a>
            </div>
        </div>
    </div>
</form>

