
@{
    ViewBag.Title = "Forgot Password";
}
<h1 class="text-info">@ViewBag.Info</h1>
<form name="forgotPassword" action="~/User/ForgotPassword" method="post">
    <div class="input-group">
        <label>Email</label>
       <input type="email" name="Email" class="form-control" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <img id="img-captcha" src="~/User/GetCaptChaImage" />
        </div>
        <input type="text" class="form-control" name="CapCha" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
        <span asp-validation-for="CaptchaCode" class="text-danger"></span>
    </div>
    <input type="submit" value="Resend-Password" />
</form>

