@using IVG.Web.Mvc.EF;
@model tbl_Users
@if (Model.UserType > 0)//nếu là staff
{
<style>
    .menu-group > a {
        width: 200px !important;
    }

    .menu-group > div {
        width: 200px !important;
    }
</style>
    <div class="nav navbar navbar-inverse w-100">
        <div class="btn-group menu-group">
            <a class="btn btn-sm btn-light" href="#"><i class="fa fa-newspaper"> About Us </i></a>
            <a class="btn btn-sm btn-light" href="#"><i class="fa fa-newspaper"> Complaints/Inquiries </i></a>
            <a class="btn btn-sm btn-light" href="#"><i class="fa fa-newspaper"> eSharp Online Store </i></a>
            <a class="btn btn-sm btn-light" href="#"><i class="fa fa-newspaper"> Products </i></a>
            <div class="btn btn-sm btn-light">
                <a class="btn btn-light dropdown-toggle" style="padding:0;font-size:14px;" id="MyProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"> My Profile </i>
                </a>
                <div class="dropdown-menu" aria-labelledby="MyProfile">
                    <a class="dropdown-item" href="#"><i class="fa fa-edit"> Edit profile</i></a>
                    <a class="dropdown-item" href="#"> <i class="fa fa-lock"> Change password</i></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-check"> PDPA (Personal Data Protection Act)</i></a>
                </div>
            </div>
        </div>
    </div>
}
else//nếu là dealer
{

}
