
@{
    ViewBag.Title = "PDPA";
}
<div class="d-flex justify-content-between">
    <div class="">
        <a href="/"><i class="fa fa-home"></i> Home </a>  >
        <a href="#"> My Profile</a> >
        <a href="#"> PDPA (Personal Data Protection Act)</a>
    </div>
</div>
<div class="container">
    <table border="0" style="border: 1px solid #eee;">
        <tbody>
            <tr>
                <td style="vertical-align: top">

                    <table border="0" style="font-size: 12pt">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px">
                                                    Personal Data Protection Notice for Sharp Electronics (Vietnam) Sdn. Bhd. (356997-H)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    Sharp Electronics (Vietnam) Sdn. Bhd. (356997-H) respects and is committed to the protection of your personal information and your privacy. This Personal Data Protection Notice explains how we collect and handle your personal information in accordance with the Vietnamn Personal Data Protection Act 2010. Please note that Sharp may amend this Personal Data Protection Notice at any time without prior notice and will update any such amendment via our website.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    1. Personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a. 1.1 Type of personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Personal information means any information which relates to you and which was collected or provided to Sharp for the purposes stated in Section 2 below.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    In order for us to fulfill one or more of our obligations listed in Section 2 herein, we will need to collect relevant personal information from you. The personal information collected, recorded, held, stored, used, disclosed and / or processed (collectively referred to as “Process”) by us may include (but is not limited to) the following:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) Master data: name, date of birth, identification supporting documents (including NRIC or passport number), gender, nationality and race, preferred language, ethnic origin, qualifications, occupation, employer, former employer(s), photographs or other images, security recordings, voice recordings, cookies and location tracking/GPS information;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) Current contact details: current private, home, correspondence and/or business address, telephone and/or mobile phone number(s), fax number and email address (es), and any other form of contact information that can allow us to reach you for communication purposes; and/or
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) Compensation and/or financial standing information: income range, bank account details, transaction currency type, income tax file number, income tax EA Form, Employees Provident Fund (KWSP) yearly and/or current dated member’s statement, bank facilities offer letter(s), bank guarantee(s) details, letter or credit(s) information other relevant information in relation to your financial credit reporting standing check for credit assessment purposes to determine business credit assignment by Sharp as part of your application to become our business partner.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    b. 1.2 Source of personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Your personal information will be obtained from the following sources, where applicable, or such other sources which we may see fit from time to time and/or we may collect personal information directly from you when you:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    In order for us to fulfill one or more of our obligations listed in Section 2 herein, we will need to collect relevant personal information from you. The personal information collected, recorded, held, stored, used, disclosed and / or processed (collectively referred to as “Process”) by us may include (but is not limited to) the following:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) Communicate with us (for example when you contact us for any enquiries, including by calling our Sharp Customer Care Centre);
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) Information provided or submitted by you through among others, as applicable the various types of registration form(s) required for commercial transaction with us, commence a business relationship with us or our channel partners of third party vendors (where applicable), registering the warranty for Sharp product(s), register your interest or subscribe for information on our products and/or service or to our publications (for example newsletters), participate in any of our surveys, competitions, contests, or promotional offers, respond to any marketing materials we send out, (received via email, facsimile, manual submission, online), sales form(s), webpage(s);
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) As applicable, publicly available or publicly accessible information; and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (d) Such other written or verbal communications or documents delivered to us prior to and during the course of our contractual or pre-contractual dealings with you.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    We may also obtain your personal information from third-parties we deal with or who are connected with you and from such other sources where you have given your consent for the disclosure of information relating to you, and/or where otherwise lawfully permitted. As the accuracy of your personal information depends largely on the information you provide to us, kindly inform us as soon as practicable if there are any errors in your personal information or if there have been any changes to your personal information.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    c. 1.3 Obligatory personal information and failure to supply
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    All information requested for in the relevant forms is obligatory to be provided by you unless stated otherwise.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    The failure to supply such personal information as may be needed may:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) Result in us being unable to provide you with the notices, services and/or products requested;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) Affect our ability to effect the necessary processes relating to the supply of our products and/or services; and/or
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) Result in us being unable to update you on our latest products, services, promotions, events and/or launches.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    2. Purposes of collecting and processing personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Personal information you provide will be processed by us for, amongst others, the following purposes as applicable:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) The delivery of notices, services or products and the marketing of such services or products to you;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) In order for you to enter into the necessary agreement and/or contract in relation to the sale and supply of Sharp products or for the supply of goods and services;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) User or customer relationship management procedures;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (d) Credit assessments and other background checks of users as we may determine to be necessary or appropriate;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (e) Our internal record management in the ordinary course of business;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (f) Such purposes specifically provided for in any particular service or product offered by us or administer your participation in contests;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (g) Conducting marketing and customer analysis in connection with our services and related products;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (h) Enabling us to send you information by e-mail, telecommunication means (telephone calls or text messages) or social media about products and services by our related companies and business partners, authorized third parties which may include but is not limited to the above mentioned purposes which we think may interest you;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (i) To establish and better manage any business relationship we have with you;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (j) To process any communication you send us (for example, answering any queries and dealing with any customer service complaints and feedbacks);
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (k) Post-sales services, such as after-sales maintenance (if any) or customer service related matters;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (l) To provide you with the products and/or services you have requested;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (m) To notify you about benefits and changes to the features of our products and/or services;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (n) Collection of outstanding payments from clients and/or customers;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (o) Prevention of crime including but not limited to fraud, money-laundering, bribery;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (p) Meet any legal or regulatory requirements relating to our provision of services, and products and to make disclosure under the requirements of any applicable law, regulation, direction, court order, by-law, guideline, circular, code applicable to us or any of our member companies;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (q) Project site vacant possession, property/estate management, customer care and/or defect rectification works;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (r) For research, benchmarking, and statistical analysis purposes; and/or
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (s) Other project execution works related services such as security management, project insurance procurement and site access management.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    3. Storage and retention of personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Your personal information shall be stored either in hard copies in our office within the group or stored electronically in servers. Any personal information supplied by you will be retained by our organization as long as necessary for the fulfillment of the purposes stated in (2) above or as required to satisfy legal regulatory, commercial or accounting requirements and at all times subject to prevailing legal requirements.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    4. Disclosure of personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a. 4.1 Entities within Sharp
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Your personal information provided to us is processed by entities (in or outside of Vietnam) within Sharp (including related companies, subsidiaries, holding companies, associated companies and outsourcing partners).Sharp will ensure that:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) access to your personal information is restricted to staff who are contractually required to process your personal information in accordance with their respective job requirements; and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) only necessary information is released to the relevant employees.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    b. 4.2 Classes of third parties
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Your personal information may be disclosed to relevant third parties (in or outside of Vietnam) as required under law, pursuant to relevant contractual relationship (for example, where we appoint third party service providers) or for the purposes stated in Section 2 above (or directly related to those purposes).
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    In the event of a potential, proposed or actual sale of business, disposal, acquisition, merger or re-organization (“Transaction”), your personal information may be required to be disclosed or transferred to a third party as a result of the Transaction. You hereby acknowledge that such disclosure and transfer may occur and permit Sharp to release your personal information to the other party and its advisers/representatives.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) Customer or potential customer: Your personal information may be disclosed to the following classes of third parties:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Third parties appointed by us to provide services to us or on our behalf (such as banks or financial institutions, software vendors, auditors, lawyers, company secretary, consultants, contractors, professional advisors, service providers, printing companies, conference/training/event organizer, other advisers, insurance companies);
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Our business partners or affiliates who may jointly provide the service requested for;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Utility companies;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Law enforcement agencies, including the local police; and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Relevant governmental authorities’ statutory authorities, local council and industry regulators.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) Vendor, supplier, tenant or service provider: Your personal information may be disclosed to the following classes of third parties:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Third parties appointed by us to provide services to us or on our behalf (such as banks or financial institutions, software vendors, auditors, lawyers, company secretary, printing companies, contractors, conference/training/event organizer, other advisers, insurance companies);
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Law enforcement agencies, including the local police; and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    · Relevant governmental authorities, statutory authorities, local council and industry regulators.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    5. Websites
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a. 5.1 Links to other sites
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Links to other sites is provided for your convenience and information. These sites may have their own privacy statement in place, which we recommend you review if you visit any linked websites. We are not responsible for the content on the linked sites or any use of the site.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    b. 5.2 Location enabled products or applications
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Location enabled products or applications transmit your location information to us. We do not use the information sent or provided other than to provide the service you request. Location enable features are opt-in and you have control over your participation and can turn these services off at any time or uninstall them.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Some mobile applications will utilize Google Analytics (or similar tool) to help us better serve you through improved products, services, and revisions to the mobile applications. This collected information will not identify you to us. It may, however, let us know anonymously, which services and features you are using the most within the application, as well as device type and hardware features, country and language of download.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    c. 5.3 Cookies
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    A cookie may be used in the processing of your information. A cookie is a text file placed into the memory of your computer and/or device by our computers. A copy of this text file is sent by your computer and/or device whenever it communicates with our server. We use cookies to identify you. We may also collect the following information during your visit to our website and/or the fully qualified domain name from which you accessed our site, or alternatively, your IP address:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) the date and time you accessed each page on our web site;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) the URL of any webpage from which you accessed our site (the referrer); and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) the web browser that you are using and the pages you accessed.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Some web pages may require you to provide a limited amount of personal information in order to enjoy certain services on our websites (system login credentials, email address and contact, etc). These personal information will only be used for its intended purposes only, i.e. to respond to your message or deliver the requested services.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    6. Right to access and correct personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a. 6.1 You have the right and shall be given access to your personal information held by us and correct the personal information where in personal information is inaccurate, incomplete, misleading or not up-to-date. In this respect, you may in writing:-
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (a) Check whether we hold and process your personal information;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (b) Request access to such personal information;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (c) Request correction of wrong personal information;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (d) Request explanation on our policies and procedures in relation to personal information handled by us;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (e) Communicate to us your objection to the use of your personal information for marketing purposes; and
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    (f) Withdraw, in full or in part, your consent given previously subject to applicable legal requirements/restrictions, our contractual obligations and a reasonable time frame.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    b. 6.2 Accuracy of personal information
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    i.
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    You are responsible for informing us about any changes to your personal information to enable us to keep your data accurate and current.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    7. Limiting the processing of personal information, further enquiries and contact point:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    If you would like to obtain further information on how to limit the processing of your personal information, you may contact:-
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 5px">
                                                                    &nbsp;
                                                                </td>
                                                                <td style="padding: 5px">
                                                                    Hotline: 1-800-1599<br>Correspondence Address: Công ty TNHH Điện tử Sharp Việt Nam, Số 159, đường Xa Lộ Hà Nội, phường Thảo Điền, TP. Thủ Đức, TPHCM
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px; font-weight: bold;">
                                                    8. Conflict
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    a. In the event of any conflict between this English language Personal Data Protection Notice and its corresponding Bahasa Vietnam Personal Data Protection Notice, the terms in this English language Notice shall prevail.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #C0C0C0">
                                    <table border="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="cphData_cbAgree" type="checkbox" name="ctl00$cphData$cbAgree">
                                                </td>
                                                <td>
                                                    I hereby agree that Sharp may collect, obtain, store and process my personal data that I provide in this website for the purpose of receiving updates, news, promotional and marketing updates, news, promotional and marketing mails or materials from Sharp.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input class="btn btn-sm btn-primary" type="submit" name="ctl00$cphData$cmdSave" value="Yes, I Agree" id="cphData_cmdSave" style="font-size:12pt;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td style="vertical-align: top">
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*<div class="row">
    <input type="checkbox" name="IsAgree" /> 1 số thông tin gì đó sẽ viết tiếp chỗ này.
        <br />
    <button class="btn btn-primary">Yes, I Agree</button>
</div>*@

