
@{
    ViewBag.Title = "PDPA";
}

<div class="row">
    <div>
        Xin chào,
    đây là nội dung quy đinh cũng như nội quy và điều khoản sử dụng trang web của chúng tôi
        </br>
        Vui lòng đồng ý để tiếp tục sử dụng.
    </div>
</div>
<div class="row">
    <input type="checkbox" name="IsAgree" /> 1 số thông tin gì đó sẽ viết tiếp chỗ này.
        <br />
    <button class="btn btn-primary">Yes, I Agree</button>
</div>

