
@{
    ViewBag.Title = "AddRequest";
}
<div class="d-flex justify-content-between">
    <div class="">
        <a href="/"><i class="fa fa-home"></i> Home </a>  >
        <a href="#"> Service request</a> >
        <a href="#"> Add New Record</a>
    </div>
</div>

<div class="row" style="padding:0 !important; display:flex">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <label>Sản phẩm</label>
            <select name="modelID" class="form-control form-control-sm">
                <option>Select product type</option>
                <option>Select product type</option>
                <option>Select product type</option>
                <option>Select product type</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Serial No</label>
            <input name="serialNo" type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Ngày sản xuất</label>
            <input name="madeDate" type="datetime-local" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Ngày hết bảo hành</label>
            <input type="datetime-local" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Hình thức bảo hành</label>
            <select class="form-control form-control-sm">
                <option>Carry-In</option>
                <option>In-Home</option>
                <option>In-Shop</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Tình trạng bảo hành</label>
            <select class="form-control form-control-sm">
                <option>Còn bảo hành</option>
                <option>Hết bảo hành</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Hiện tượng</label>
            <select class="form-control form-control-sm">
                <option>Select Inquire description (1)</option>
                <option>Select Inquire description (1)</option>
                <option>Select Inquire description (1)</option>
                <option>Select Inquire description (1)</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-sm-12">
            <label>Inquire description (2)</label>
            <select class="form-control form-control-sm">
                <option>Select Inquire description (2)</option>
                <option>Select Inquire description (2)</option>
                <option>Select Inquire description (2)</option>
                <option>Select Inquire description (2)</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Customer name</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Address 1</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Address 2</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Address 3</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Postcode</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label>Town/City</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
            <label>State</label>
            <select class="form-control form-control-sm">
                <option>Select State</option>
                <option>Select State</option>
                <option>Select State</option>
                <option>Select State</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label>Telephone no</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label> Alternative Telephone No.</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label> Email address</label>
            <input type="email" class="form-control form-control-sm" />
        </div>
        <div class="col-sm-12">
            <label> Alternative Telephone No.</label>
            <textarea type="text" style="height:150px;resize:none" class="form-control form-control-sm"></textarea>
        </div>
    </div>

</div>
<div class="container" style="padding-top:10px;">
    <div class="btn-group">
        <button class="btn btn-sm btn-primary" onclick="ShowToastr();"> <i class="fa fa-save"> Save</i></button>
        <a href="/dealer/servicerequest" class="btn btn-sm btn-danger"> <i class="fa fa-close"> Cancel</i></a>
    </div>
</div>
<script>
    function ShowToastr() {
        toastr.success("Record Created", "Successfully Created",);
    };
</script>
