@{
    ViewBag.Title = "Index";
}
<style>
    .folder {
        position: relative;
        height: 50px;
        width: 100px;
        background-color: gray;
    }
</style>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderAction("GetMenu", "User");
    }
</div>
<div class="row">
    <div class="fa fa-arrow-right">Home</div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
    <div class="col-sm-4">
        <div class="folder"></div>
        <div class="folder"></div>
    </div>
</div>

